@model TesteCNPQ.Models.Agendamento

@{
    ViewData["Title"] = "Create";
    var locais = ViewBag.Local != null ? (List<Local>)ViewBag.Local : null;
}

<h1>Create</h1>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Local">Local</label>
                <select id="Local" name="Local" class="form-control">
                    @foreach (var local in locais)
                    {
                        <option>@local.Nome</option>
                    }
                </select>
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeResponsavel" class="control-label"></label>
                <input asp-for="NomeResponsavel" class="form-control" />
                <span asp-validation-for="NomeResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTermino" class="control-label"></label>
                <input asp-for="DataTermino" class="form-control" />
                <span asp-validation-for="DataTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
